    .dayFormat{
        margin-left: 110px;
        color: grey;
    }
    
    .calendar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .calender-week, .calender-dates {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap to the next line */
    }

    .calender-week li, .calender-dates li {
      margin: 5px; /* Adjust the margin as needed */
    }

    /* Style for day names */
    .calender-week li {
      width: 30px; /* Adjust the width as needed for day names */
      text-align: center;
    }

    /* Style for dates */
    .calender-dates li {
      width: 30px; /* Adjust the width as needed for dates */
      text-align: center;
    }
    .calender-dates{
        margin-left:40px;
        color: black;
    }

.todayDate{
    display: inline-block;
    margin-left: 150px;
    color: grey;
}

li{
   margin-left: 20px;
   list-style-type: none;
   color: grey;
}




